<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.2.0" targetFramework="net472" />
  <package id="AutoItX.Dotnet" version="3.3.14.5" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net472" />
  <package id="Gu.Wpf.Adorners" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="ModernWpfUI" version="0.8.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net472" />
  <package id="Prism.Unity" version="7.2.0.1422" targetFramework="net472" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net472" />
  <package id="QlikSense.NetSDK" version="14.1.0" targetFramework="net472" />
  <package id="QlikSenseRestClient" version="1.0.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="83.0.4103.3900" targetFramework="net472" />
  <package id="Serilog" version="2.9.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unity.Abstractions" version="5.11.6" targetFramework="net472" />
  <package id="Unity.Container" version="5.11.8" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>